.select{
    background-color: rgba(255,255,255,0.1);
    padding:12px;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    outline: none;
    border:2px solid rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top: 4px;
    appearance: none;
    position: relative;
    transition: all 100ms ease-in;
}
.select::after{
    content: "\25b6";
    position: absolute;
    top:0px;
    right: 0px;
}
.select:focus{
    border:2px solid var(--light-color);
    color:var(--light-color);
}
.select-label{
    color: white;
    padding-left: 4px;
    font-size: 1em;
    transition: all 100ms ease-in;
}
.select-label:focus-within{
    color:var(--light-color);
}